<div class="box wide">
  <div class="legend">
    Requested Hats
  </div>

  <% if @hat_requests.count == 0 %>
    No hat requests.
  <% else %>
    <% @hat_requests.each_with_index do |hat_request,x| %>
      <% if x > 0 %>
        <hr>
      <% end %>

      <%= form_for hat_request, :url => approve_hat_request_url(:id => hat_request),
      :method => :post do |f| %>
        <p>
        <div class="boxline">
          <%= f.label :user_id, "User:", :class => "required" %>
          <a href="/u/<%= hat_request.user.username %>"><%= hat_request.user.username %></a>
        </div>

        <div class="boxline">
          <%= f.label :hat, "Hat:", :class => "required" %>
          <%= f.text_field "hat", :size => 25 %>
        </div>

        <div class="boxline">
          <%= f.label :link, "Link:", :class => "required" %>
          <%= f.text_field "link", :size => 75 %>
          <% if hat_request.link.to_s.match(/^http/) %>
            <br>
            <%= f.label :link, "Link:", :class => "required" %>
            <a href="<%= hat_request.link %>" rel="nofollow"><%= hat_request.link %></a>
          <% end %>
        </div>

        <div class="boxline">
          <%= f.label :link, "Comment:", :class => "required" %>
          <div class="d">
            <%= raw(h(hat_request.comment.to_s).gsub(/\n/, "<br>")) %>
          </div>
        </div>

        <p style="clear: both;">
        <%= submit_tag "Approve Hat Request" %>
        </p>
      <% end %>
      <p>
      or
      </p>
      <%= form_for hat_request, :url => reject_hat_request_url(:id => hat_request),
      :method => :post do |f| %>
        <div class="boxline">
          <%= f.label :link, "Reason:", :class => "required" %>
          <%= f.text_area :rejection_comment, :rows => 4 %>
        </div>
        <p>
        <%= submit_tag "Reject Hat Request" %>
        </p>
      <% end %>
    <% end %>
  <% end %>
</div>
